<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebExStatsSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <WebExStatsSvc.Properties.Settings>
            <setting name="TimerInterval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="FromDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ToDate" serializeAs="String">
                <value />
            </setting>
            <setting name="RunTime" serializeAs="String">
                <value>8:00 PM</value>
            </setting>
            <setting name="LogUrl" serializeAs="String">
                <value>http://localhost/logapi/api/log/setlog</value>
            </setting>
            <setting name="WebExStatsMeetingUrl" serializeAs="String">
                <value>http://localhost/statsapi/api/puller/meetings</value>
            </setting>
            <setting name="WebExStatusParticipantsUrl" serializeAs="String">
                <value>http://localhost/statsapi/api/puller/participants</value>
            </setting>
            <setting name="AppLogEmailSubject" serializeAs="String">
                <value>WebExStats Service Alert</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>WebExStats@greatsouthernbank.com</value>
            </setting>
            <setting name="NotifyEmail" serializeAs="String">
                <value>rpyle@greatsouthernbank.com</value>
            </setting>
            <setting name="WebExStatsLastPullUrl" serializeAs="String">
                <value>http://localhost/statsapi/api/puller/datapull/meeting</value>
            </setting>
        </WebExStatsSvc.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
