.dateholder {
    margin-right: 2em;
}

.btnmg {
    margin-left: 1em;
    margin-top: 1.5em;
}



.pgtitle {
    background-color: white;
    padding: .5em;
    border-left: 6px solid #0275d8;
    border-radius: 4px;
    margin: .5em;
    height: 3.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}



.pgtitlefont {
    font-size: 1.75em;
    font-weight: bold;
}