@using Stats.Web.Services


<div class="p-2">
    <span style="font-size:1.1rem; font-weight: bold"> Statistical Data Date Range  @StartDate.ToShortDateString() - @EndDate.ToShortDateString()</span>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Inject] private IApiDataService ApiDataService { get; set; }

    private DateTime StartDate { get; set; }

    private DateTime EndDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;

        var data = await ApiDataService.GetStatisticDateRange(authState.User.Identity?.Name?.Split('\\').Last());

        if (data != null)
        {
            StartDate = data.StartDate;
            EndDate = data.EndDate;
        }
    }

}
