<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" >
        <div class="imgholder">
            <a href="./">
                <img src="./images/GsbLogoSmall.png" width="auto" height="55px" alt=""/>
            </a>
          
        </div>
       
       
        
      
    </div>
    
</div>

<div >
    <nav class="flex-column">
        <div style="color:  #d7d7d7" class="px-3 pt-2 text-center">
            <StatisticsDateRange />
            
        </div>
        <hr style="color:  #d7d7d7" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=".\" Match="NavLinkMatch.All">
                <i class="fa-solid fa-home" style="padding-left: 1em;" aria-hidden="true"></i>&nbsp; Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" Match="NavLinkMatch.All">
                <i class="fa-solid fa-file" style="padding-left: 1em;" aria-hidden="true"></i>&nbsp; Reports
            </NavLink>
            <ul>
                <li>
                    <NavLink href="./reports/allemployeesallmeetings" class="nav-link" Match="NavLinkMatch.All">
                        <span style="padding-left: 1em;"></span>Employees in Meetings
                    </NavLink>
                </li>
                <li>
                    <NavLink href="./reports/employeemeetingtotaltime" class="nav-link" Match="NavLinkMatch.All">
                        <span style="padding-left: 1em;"></span>Meetings Total Time
                    </NavLink>
                </li>
                <li>
                    <NavLink href="./reports/byemployeemeetingtotaltime" class="nav-link" Match="NavLinkMatch.All">
                        <span style="padding-left: 1em;"></span>Employee Total Time
                    </NavLink>
                </li>
               
            </ul>
        </div>

    </nav>
</div>


